.footer {
  width: 1440px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff0de;
}
.footer-navbar {
  width: 1192px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-lists,
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
